<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.pinochle">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/downloadscore"
        android:label="Pinochle Score Calculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pinochle">
        <activity android:name=".WinnerB_activity"></activity>
        <activity android:name=".WinnerA_activity" />
        <activity android:name=".activity_bidb" />
        <activity android:name=".bid_activity" />
        <activity android:name=".score_activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>